<script>
import { ref, onMounted } from "vue";
import axios from "axios";
import { rows, form } from "../composits/Clients";
import { useRoute } from "vue-router";

export default {
  setup() {


    // 1st is that it should be able to add data to the userlist
    // Method to add ussers
    // Post is still not working
    // When I import rows from UserList.vue it does not have an value
    // When I import rows using the export from "../composits/Clients",
    // it does not have an error but it does not add data to the user list
    //
    let btnLoadingState = ref(false);
    const addUsers = () => {
      btnLoadingState.value = true;
      const url = form.value.id
        ? `https://jsonplaceholder.typicode.com/users/${form.value.id}`
        : "https://jsonplaceholder.typicode.com/users";
      const method = form.value.id ? "PUT" : "POST";
      axios
        .request({
          url,
          method,
          data: form.value,
        })
        .then((response) => {
          if (response.status === 201 || response.status === 200) {
            if (method === "POST") {
              rows.value.unshift(response.data);
            } else {
              const index = rows.value.findIndex(
                (r) => r.id === response.data.id
              );
              if (index !== -1) {
                rows.value.splice(index, 1, response.data);
              }
            }
            form.value.name = null;
            form.value.username = null;
            form.value.email = null;
            form.value.address.street = null;
            form.value.address.suite = null;
            form.value.address.city = null;
            form.value.address.zipcode = null;
            form.value.phone = null;
            form.value.website = null;
            form.value.company.name = null;
            form.value.company.catchPhrase = null;
            form.value.company.bs = null;

            // resets the form validations
            const formElement = document.querySelector(".q-form");
            formElement.reset();
          }
          btnLoadingState.value = false;
        });
    };

    // To initialize the connection
    const route = useRoute();

    // gets the data of the user and repopulates the form
    // but for some reason it does not repopulate the age and phone
    const getUser = (id) => {
      axios
        .get(`https://jsonplaceholder.typicode.com/users/${id}`)
        .then((response) => {
          form.value.id = response.data.id;
          form.value.name = response.data.name;
          form.value.username = response.data.username;
          form.value.email = response.data.email;
          form.value.address.street = response.data.address.street;
          form.value.address.suite = response.data.address.suite;
          form.value.address.city = response.data.address.city;
          form.value.address.zipcode = response.data.address.zipcode;
          form.value.phone = response.data.phone;
          form.value.website = response.data.website;
          form.value.company.name = response.data.company.name;
          form.value.company.catchPhrase = response.data.company.catchPhrase;
          form.value.company.bs = response.data.company.bs;
        });
    };

    onMounted(() => {
      const id = route.query.id;
      if (id) {
        getUser(id);
      }
    });

    return {
      form,
      btnLoadingState,
      addUsers,

      // Email validation, email must end in @gmail.com
      email: "",
      emailRule: (val) => {
        if (!val.endsWith("@gmail.com")) {
          return 'Email must end with "@gmail.com"';
        }
        return true;
      },

      // validation that only accepts numbers without using input type="number"
      number: "",
      numberRule: (val) => {
        if (!/^\d+$/.test(val)) {
          return "Only numbers are allowed";
        }
        return true;
      },

      // validation that verifies if the phone number starts at "09"
      phone: "",
      phoneNumberRule: (val) => {
        if (!val.startsWith("09")) {
          return 'Phone number must be in PH format, starts with "09"';
        }
        return true;
      },

      // same as the email validator but it must end at ".pixel8"
      website: "",
      websiteRule: (val) => {
        if (!val.endsWith(".pixel8")) {
          return 'website must end at .pixel8"';
        }
        return true;
      },
    };
  },
};
</script>

<template>
  <q-page class="q-ma-xl">
    <div class="q-pa-md" style="max-width: 400px">
      <!-- this is the form -->
      <!-- reset add but for some reason the age and contact number does not reset-->
      <q-form @submit.prevent="addUsers()" class="q-ma-md">
        <q-input
          v-model="form.name"
          dense
          outlined
          label="Your name *"
          hint="Name and surname"
          lazy-rules
          :rules="[
            (val) => !!val || 'Field is required',
            (val) => val.length > 7 || 'Name needs atleast 8 letters',
          ]"
        />

        <q-input
          v-model="form.username"
          dense
          outlined
          label="Your user name *"
          hint="Nickname or Title ex: Vincent3272"
          lazy-rules
          :rules="[
            (val) => !!val || 'Field is required',
            (val) => val.length > 3 || 'User Name needs atleast 4 letters',
          ]"
        />

        <q-input
          type="email"
          v-model="form.email"
          dense
          outlined
          label="Your email *"
          hint="ex: pixel8@gmail.com"
          lazy-rules
          :rules="[
            (val) => !!val || 'Field is required',
            (val) =>
              /^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[\w-]{2,4}$/.test(val) ||
              'Invalid email',
            emailRule,
          ]"
        />

        <!-- Adress forms (street, suite, city and zipcode)-->
        <q-input
          v-model="form.address.street"
          dense
          outlined
          label="Your company street *"
          hint="Street"
          lazy-rules
          :rules="[(val) => !!val || 'Field is required']"
        />

        <q-input
          v-model="form.address.suite"
          dense
          outlined
          label="Your office suite *"
          hint="ex: Apt. 0673 or N/A if not applicable"
          lazy-rules
          :rules="[(val) => !!val || 'Field is required']"
        />

        <q-input
          v-model="form.address.city"
          dense
          outlined
          label="Your company city *"
          hint="City"
          lazy-rules
          :rules="[(val) => !!val || 'Field is required']"
        />

        <q-input
          v-model="form.address.zipcode"
          dense
          outlined
          label="Your company zipcode *"
          hint="Zipcode"
          lazy-rules
          :rules="[(val) => !!val || 'Field is required', numberRule]"
        />

        <q-input
          v-model="form.phone"
          dense
          outlined
          label="Your phone number *"
          hint="Prefered contact number"
          lazy-rules
          :rules="[
            (val) =>
              (val && val.length > 0 && val.length == 11) ||
              'Contact must have 11 numbers',
            numberRule,
            phoneNumberRule,
          ]"
        />

        <q-input
          v-model="form.website"
          dense
          outlined
          label="Your/Company Website *"
          hint="ex: company.pixel8"
          lazy-rules
          :rules="[(val) => !!val || 'Field is required', websiteRule]"
        />

        <!-- Company forms (Company name, catchPhrase and bs )-->
        <q-input
          v-model="form.company.name"
          dense
          outlined
          label="Company name *"
          hint="Your company or business name"
          lazy-rules
          :rules="[(val) => !!val || 'Field is required']"
        />
        <q-input
          v-model="form.company.catchPhrase"
          dense
          outlined
          label="Company catch phrase *"
          hint="ex: Save money. Live better."
          lazy-rules
          :rules="[(val) => !!val || 'Field is required']"
        />
        <q-input
          v-model="form.company.bs"
          dense
          outlined
          label="Copanies business services *"
          hint="ex: Marketing and Logistics services"
          lazy-rules
          :rules="[(val) => !!val || 'Field is required']"
        />

        <!-- This is the submit button -->
        <div>
          <q-btn
            label="Submit"
            type="submit"
            color="primary"
            :loading="btnLoadingState"
          />
        </div>
      </q-form>
    </div>
  </q-page>
</template>
